.Content-container {
  flex: 1;
  display: flex;
}

.Background-transparent {
  background-color: transparent;
}

.Content-background {
  background-color: #272a33;
}

.Content {
  padding-bottom: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-top: 50px;
}