.BracketRound-eachRound {
  display: flex;
  flex-direction: column;
}

.BracketRound-reachRound-bolder {
  background-color: rgb(35, 37, 45);
}

.BracketRound-eachRound-noBold {
  background-color: rgb(39, 42, 51);
}

.BracketRound-title-round-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 55, 67);
  height: 20px;
}

.BracketRound-title-round-container-border {
  border-left: 1px solid black;
}

.BracketRound-title-round-text {
  font-size: 14px;
}