.TournamentListTeamItems-info-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.TournamentListTeamItems-container :hover {
  cursor: pointer;
}

.TournamentListTeamItems-moreInfo-container {
  background-color: black;
  padding-left: 25px;
  padding-right: 25px;
}

.TournamentListTeamItems-moreInfo-listTeamInfo-item-container {
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.TournamentListTeamItems-moreInfo-listTeamInfo-item-container1 {
  background-color: #2b2f39;
}

.TournamentListTeamItems-moreInfo-listTeamInfo-item-container2 {
  background-color: #1e232f;
}

.TournamentListTeamItems-moreInfo-listTeamInfo-item-orderNumber {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TournamentListTeamItems-moreInfo-listTeamInfo-item-memberName {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TournamentListTeamItems-moreInfo-listTeamInfo-item-gender {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TournamentListTeamItems-moreInfo-listTeamInfo-item-email {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TournamentListTeamItems-moreInfo-listTeamInfo-item-dob {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TournamentListTeamItems-container {
  background-color: #2b2f39;
  border-radius: 7px;
  overflow: hidden;
  width: 100%;
}

.TournamentListTeamItems-container-container {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.TournamentListTeamItems-order-number-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TournamentListTeamItems-order-number-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff7324;
  width: 50%;
  height: 60%;
  border-radius: 10px;
}

.TournamentListTeamItems-team-name-container {
  flex: 7;
  padding-left: 50px;
}

.TournamentListTeamItems-team-setting-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TournamentListTeamItems-team-setting-container-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  background-color: black;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 7px;
}

.TournamentListTeamItems-team-setting-icon {}