.Container-login {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Container-login-middle {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35rem;
}

h2 {
  color: white;
  align-self: flex-start;
}

p {
  color: white;
}

.Long-introduction {
  color: #5b647d;
  align-self: flex-start;
}

.Alternate-login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Alternate-login-container :hover {
  cursor: pointer;
}

.Alternate-login-option1 {
  background-color: #4c76c5;
}

.Alternate-login-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  height: 35px;
}

.Alternate-login-option2 {
  background-color: #d93025;
}

.Alternate-login-option-text {
  font-weight: bold;
}

.Checkbox-label {
  color: #d8d8d8;
}

.Forgot-password {
  color: #ff7324;
}

.Button-login-container {
  background-color: #ff7324;
  margin-top: 25px;
  border-radius: 10px;
}

.Button-login-container :hover {
  cursor: pointer;
}

.Button-login {
  width: 35rem;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Button-login-text {
  color: white;
  font-weight: bold;
}

.Login-option-container-item1 {
  justify-content: flex-end;
}

.Login-option-container-item1 :hover {
  cursor: pointer;
  text-decoration: underline;
}

.Login-option-container-item {
  flex: 1;
  display: flex;
  align-items: center;
  height: 25px;
}

.Login-option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 35rem;
}


:root {
  --omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
  --omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
  --omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
  --omrs-color-interaction: #ff7324;
  --omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
  --omrs-color-danger: #b50706;
  --omrs-color-bg-low-contrast: #eff1f2;
  --omrs-color-ink-high-contrast: #121212;
  --omrs-color-bg-high-contrast: #3a404e;

}

/** END: Non Openmrs CSS **/
div.omrs-input-group {
  margin-bottom: 1.5rem;
  position: relative;
  width: 35rem;
}

/* Input*/
.omrs-input-underlined>input,
.omrs-input-filled>input {
  border: none;
  border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
  width: 100%;
  height: 2rem;
  font-size: 1.0625rem;
  line-height: 147.6%;
  padding-top: 0.825rem;
  padding-left: 0.825rem;
  padding-bottom: 0.5rem;
  color: white;
}

.omrs-input-underlined>input:focus,
.omrs-input-filled>input:focus {
  outline: none;
}

.omrs-input-underlined>.omrs-input-label,
.omrs-input-filled>.omrs-input-label {
  position: absolute;
  top: 0.9375rem;
  left: 0.875rem;
  line-height: 147.6%;
  color: #ff7324;
  transition: top .2s;
}

.omrs-input-underlined>svg,
.omrs-input-filled>svg {
  position: absolute;
  top: 0.9375rem;
  right: 0.875rem;
  fill: var(--omrs-color-ink-medium-contrast);
}

.omrs-input-underlined>.omrs-input-helper,
.omrs-input-filled>.omrs-input-helper {
  font-size: 0.9375rem;
  color: var(--omrs-color-ink-medium-contrast);
  letter-spacing: 0.0275rem;
  margin: 0.125rem 0.875rem;
}

.omrs-input-underlined>input:hover,
.omrs-input-filled>input:hover {
  background: #3a404e;
  border-color: var(--omrs-color-ink-high-contrast);
}

.omrs-input-underlined>input:focus+.omrs-input-label,
.omrs-input-underlined>input:valid+.omrs-input-label,
.omrs-input-filled>input:focus+.omrs-input-label,
.omrs-input-filled>input:valid+.omrs-input-label {
  top: 0;
  font-size: 0.9375rem;
  margin-bottom: 32px;
  ;
}

.omrs-input-underlined:not(.omrs-input-danger)>input:focus+.omrs-input-label,
.omrs-input-filled:not(.omrs-input-danger)>input:focus+.omrs-input-label {
  color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger)>input:focus,
.omrs-input-filled:not(.omrs-input-danger)>input:focus {
  border-color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger)>input:focus~svg,
.omrs-input-filled:not(.omrs-input-danger)>input:focus~svg {
  fill: var(--omrs-color-ink-high-contrast);
}

/** DISABLED **/

.omrs-input-underlined>input:disabled {
  background: var(--omrs-color-bg-low-contrast);
  cursor: not-allowed;
}

.omrs-input-underlined>input:disabled+.omrs-input-label,
.omrs-input-underlined>input:disabled~.omrs-input-helper {
  color: var(--omrs-color-ink-low-contrast);
}

.omrs-input-underlined>input:disabled~svg {
  fill: var(--omrs-color-ink-low-contrast);
}


/** DANGER **/

.omrs-input-underlined.omrs-input-danger>.omrs-input-label,
.omrs-input-underlined.omrs-input-danger>.omrs-input-helper,
.omrs-input-filled.omrs-input-danger>.omrs-input-label,
.omrs-input-filled.omrs-input-danger>.omrs-input-helper {
  color: var(--omrs-color-danger);
}

.omrs-input-danger>svg {
  fill: var(--omrs-color-danger);
}

.omrs-input-danger>input {
  border-color: var(--omrs-color-danger);
}

.omrs-input-underlined>input {
  background: var(--omrs-color-bg-high-contrast);
}

.omrs-input-filled>input {
  background: var(--omrs-color-bg-low-contrast);
}